.__page_wrapper {
  &.__bg1 {
    background-image: url("../../assets/welcome_page_desktop_bg.svg");
    background-repeat: no-repeat;
    background-size: cover;
  }

  &.__bg2 {
    background-image: url("../../assets/ready_to_play_desktop_bg.jpg");
    background-repeat: no-repeat;
    background-size: cover;
  }

  header>div>a>img.__logo {
    width: 75px;
  }
}
